<html lang="en">
<title>index</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: 'Kanit', sans-serif;}
.w3-bar,h1,button {font-family: 'Kanit', sans-serif;}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
  
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="" class="w3-bar-item w3-button w3-padding-large w3-white">หนัาหลัก</a>
    <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">สื่อวิดีทัศน์</a>
    <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">เกี่ยวกับเรา</a>
    <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">เว็บไซต์ภาควิชาคอมพิวเตอร์</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">เข้าสู่หน้าแรก</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="" class="w3-bar-item w3-button w3-padding-large">สื่อวิดีทัศน์</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">เกี่ยวกับเรา</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">เว็บไซต์ภาควิชาคอมพิวเตอร์</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">เข้าสู่หน้าแรก</a>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
    <img class="w3-image" src="/image/barner.png" alt="Me" width="1500" height="600">
</header>

<!-- First Grid -->
<div class="w2-row-padding w2-padding-64 w2-container">
  <div class="w3-content">
    <div class="w3-onethird">
      <h1>วิวัฒนาการของคอมพิวเตอร์</h1>
      <h5 class="w3-padding-32">คอมพิวเตอร์ที่เราใช้กันอยู่ทุกวันนี้เป็นผลมาจากการประดิษฐ์คิดค้นเครื่องมือในการคำนวณซึ่งมีวิวัฒนาการนานมาแล้ว เริ่มจากเครื่องมือในการคำนวณเครื่องแรกคือ "ลูกคิด" (Abacus) ที่สร้างขึ้นในประเทศจีน เมื่อประมาณ 2,000-3,000 ปี  คอมพิวเตอร์มีการพัฒนาอย่างต่อเนื่อง สามารถแบ่งออกได้โดยแบ่งส่วนประกอบของฮาร์ดแวร์ (Hardward ) เป็น 6 ยุคด้วยกัน</h5>
    </div>
   <div class="w3-onethird w3-right">
      <img src="c3.png" style="widows: 100px;%">
    </div>
  </div>
</div>

  <!-- Two Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <h1>ยุคที่ 1 (The First Generation) ปี ค.ศ. 1951 – 1958</h1>
        <div class="w3-twothird">
          <h5 class="w2-padding-32"><p>คอมพิวเตอร์ในยุคแรกนี้ ใช้หลอดสูญญากาศในวงจรอิเล็กทรอนิกส์ของเครื่องคอมพิวเตอร์ ทำให้ต้องการกำลังไฟฟ้าเลี้ยงวงจรที่มีปริมาณมากและทำให้มีความร้อนเกิดขึ้นมากจึงต้องติดตั้งเครื่องในห้องปรับอากาศ ความเร็วในการทำงานเป็นวินาที เครื่องคอมพิวเตอร์มีขนาดใหญ่ สื่อที่ใช้ในการเก็บข้อมูล คือ บัตรเจาะรู  ภาษาคอมพิวเตอร์ที่ใช้ในการเขียนโปรแกรมเพื่อควบคุมการทำงาน คือ ภาษาเครื่องซึ่งเป็นภาษาที่ใช้รหัสเลขฐานสอง ทำให้เข้าใจยาก</p>
              <br><i class="material-icons">computer</i>
              <br>อุปกรณ์ : ใช้หลอดไฟสูญญากาศและวงจรไฟฟ้า
              <br>หน่วยวัดความเร็ว : วัดเป็นวินาที ( Second)
              <br>ตัวอย่างภาษาคอมพิวเตอร์ : ภาษาเครื่อง (Machine Language)
              <br>ตัวอย่างเครื่องคอมพิวเตอร์ : Univac I, IBM 650, IBM 700, IBM 704, IBM 705, IBM 709 และ MARK I</h5>
        </div>
       <div class="w3-third w3-right">
          <img src="ca1.png" style="widows:10px;%">
        </div>
      </div>
    </div>
   
    <!-- Three Grid -->
    <div class="w3-row-padding w3-light w2-padding-64 w3-container">
        <div class="w3-content">
          <h1>ยุคที่ 2 (The Second Generation) ปี ค.ศ. 1959 – 1964</h1>
          <div class="w3-twothird w3-right">
            <h5 class="w2-padding-32"><p>เครื่องคอมพิวเตอร์มีขนาดเล็กลง กินไฟน้อยลง ราคาถูกลง  เพราะมีการประดิษฐ์ทรานซิสเตอร์ขึ้นมาใช้แทนหลอดสูญญากาศ ทำให้ทำงานได้เร็วขึ้น  ความเร็วในการทำงานเท่ากับ 1/103 วินาที (มิลลิเซคคั่น)  และได้ผลลัพธ์ที่ถูกต้องมากกว่าใช้หลอดสูญญากาศ  ทรานซิสเตอร์มีขนาดเล็กกว่าหลอดสูญญากาศ 200 เท่า  และได้มีการสร้างวงแหวนแม่เหล็ก (Magnetic core) มาใช้แทนดรัมแม่เหล็ก (Magnetic drum) เป็นหน่วยความจำภายในซึ่งใช้ในการเก็บข้อมูลและชุดคำสั่ง  ภาษาคอมพิวเตอร์ที่ใช้เขียนโปรแกรมในยุคที่ 2 นี้ คือ ภาษาแอสแซมบลี้ (Assembly) ซึ่งเป็นภาษาที่ใช้สัญลักษณ์แทนคำสั่งต่าง ๆ ทำให้เขียนโปรแกรมได้ง่ายกว่าภาษาเครื่องเครื่องคอมพิวเตอร์ในยุคนี้ เช่น IBM 1620,IBM 401, Honeywell</p>
                <br><i class="material-icons">computer</i>
                <br>อุปกรณ์ : ใช้ทรานซิสเตอร์(Transistor) แทนหลอดไฟสูญญากาศ
                <br>หน่วยวัดความเร็ว : วัดเป็นมิลลิวินาที ( Millisecond)
                <br>ตัวอย่างภาษาคอมพิวเตอร์ : ภาษาแอสแซมบลี (Assembly) , ภาษาฟอร์แทรน (FORTRAN)
                <br>ตัวอย่างเครื่องคอมพิวเตอร์ : IBM 1620, IBM 1401, CDC 6600, NCR 315 , Honey Well</h5>
          </div>
         <div class="w3-third w3-right">
            <img src="ca2.png" style="widows: 50%">
          </div>
        </div>
      </div>

      <!-- Four Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <h1>ยุคที่ 3 (The Third Generation) ปี ค.ศ. 1965 – 1970</h1>
        <div class="w3-twothird">
          <h5 class="w2-padding-32"><p>เครื่องคอมพิวเตอร์ที่ถูกพัฒนามาใช้ในยุคนี้เป็นวงจรรวม หรือ เรียกว่าไอซี (IC : Integrated Circuit)  ซึ่งเป็นวงจรอิเล็กทรอนิกส์ที่ถูกบรรจุลงในแผ่นซิลิคอน (silicon) บาง ๆ ที่ เรียกว่า ซิป (Chip) ในซิปแต่ละตัวจะประกอบด้วยวงจรอิเล็กทรอนิกส์หลายพันตัว จึงทำให้คอมพิวเตอร์มีขนาดเล็ลงกว่าเดิมแต่ความเร็วในการทำงานสูงขึ้น ความเร็วในการทำงานเป็น 1/106 วินาที่ (ไมโครเซคคั่น) กินไฟน้อยลง ความร้อนลดลงปละประสิทธิภาพในการทำงานเพิ่มขึ้น  แต่ก่อนที่คอมพิวเตอร์จะเป็นวงจรรวม คอมพิวเตอร์จะถูกออกแบบเพื่อใช้กับงานแต่ละอย่าง เช่น ใช้ในงานคำนวณหรือใช้กับงานธุรกิจ เมื่อคอมพิวเตอร์ถูกพัฒนามาใช้วงจรรวมก็สามารถใช้กับงานที่ซับซ้อนได้มากขึ้น</p>
          <h5 class="w2-padding-32"><p> IBM 360 เป็นหนึ่งในคอมพิวเตอร์ที่ใช้วงจรรวมที่สามารถทำงานได้ทั้งการประมวลผลแฟ้มข้อมูล  และวิเคราะห์ค่าทางคณิตศาสตร์ ต่อมาบริษัท DEC (Digital Equiptment Corporation) ได้หันมามุ่งผลิตคอมพิวเตอร์ขนาดเล็ก เพื่อหลีกเลี่ยงการแข่งขันกับ IBM มินิคอมพิวเตอร์ (Minicomputer) จึงถูกพัฒนาขึ้นเป็นครั้งแรก ในช่วงยุคที่ 2 และนิยมใช้กันแพร่หลาย DEC ได้แนะนำมินิคอมพิวเตอร์เครื่องแรก  และ PDP1 เป็นหนึ่งใน
              มินิคอมพิวเตอร์ยุคแรกที่นิยมใช้กันแพร่หลายโดยเฉพาะในกลุ่มของนักวิทยาศาสตร์ นักวิศวกร และนักวิจัยตามมหาวิทยาลัย  เทคโนโลยีทางด้านซอฟต์แวร์ก็เกิดขึ้น  โปรแกรมมาตรฐานได้ถูกเขียนขึ้นเพื่อใช้งานกับคอมพิวเตอร์ที่เป็นวงจรรวม  และใช้เครื่องมาหลังจากที่ได้มีการปรับปรุงทางด้านฮาร์ดแวร์</p>
            <br><i class="material-icons">computer</i>
            <br>อุปกรณ์ : ใช้วงจรแบบไอซี (IC) ซึ่งเป็นวงจรอิเล็กทรอนิกส์ที่ถูกบรรจุลงในแผ่น ซิลิกอน (Silicon)ที่เรียกว่า Chip
            <br>หน่วยวัดความเร็ว : วัดเป็นไมโครวินาที ( Microsecond)
            <br>ตัวอย่างภาษาคอมพิวเตอร์ : COBOL , PL/1 , RPG , BASIC
            <br>ตัวอย่างเครื่องคอมพิวเตอร์ : IBM 360 , CDC 3300 , UNIVAC 9400 BURROUGH 7500 , PDP1 </h5>
      </div>
     <div class="w3-third w3-right">
        <img src="ca3.png" style="widows:10px;%">
      </div>
    </div>
  </div>

  <!-- five Grid -->
  <div class="w3-row-padding  w2-padding-64 w3-container">
      <div class="w3-content">
        <h1>ยุคที่ 4 (The fourth Generation) ปี ค.ศ. 1971</h1>
        <div class="w3-twothird w3-right">
          <h5 class="w2-padding-32"><p>ในยุคนี้ได้มีการพัฒนาเอาวงจรรวมหลาย ๆ วงจรมารวมเป็นวงจรขนาดใหญ่ เรียกว่า LSI (Large Scalue Integrated) ลงในซิปแต่ละอัน  บริษัทอินเทล (Intel) ได้สร้างไมโครโปรเซสเซอร์ (Microprocessor) ซึ่งเป็นซิป 1 อัน  ที่ประกอบด้วยวงจรทั้งหมดที่ต้องใช้ในการประมวลผลโปรแกรม  ไมโครโปรเซสเซอร์ซิปที่ใช้ในเครื่องพีซี (PC : Personal Computer) มีขนาดกระทัดรัดประกอบด้วยส่วนประกอบของ ซีพียู (CPU) 2 ส่วน คือ หน่วยควบคุม (Control Unit) และหน่วยคำนวณและตรรก (Arithmetic / Logic Unit)</p>
          <h5 class="w2-padding-32"><p>ปัจจุบันได้มีการสร้างวงจรอิเล็กทรอนิกส์หลายหมื่นวงจรรวมอยู่ในซิปเดียว เป็นวงจร LSI (Large Scalue Integrated) และ VLSI (Very Large Scale Integrated)  ในยุคนี้ได้มีการสร้างเครื่องคอมพิวเตอร์ทั้งขนาดเล็ก ขนาดกลาง และขนาดใหญ่ ได้แก่ ไมโครคอมพิวเตอร์ มินิคอมพิวเตอร์ เมนเฟรมคอมพิวเตอร์ และซุปเปอร์คอมพิวเตอร์  โดยเฉพาะเครื่องไมโครคอมพิวเตอร์ได้รับความนิยมมากเพราะมีขนาดเล็ก กระทัดรัดและราคาถูก 
              แต่มีประสิทธิภาพเพิ่มขึ้น ทำงานเร็วขึ้น ความเร็วในการทางานเป็น 1/109 วินาที (นาโนเซคคั่น) และ 1/1012 วินาที (พิโคเซคคั่น)  นอกจากนี้วงจร LSI ยังได้ถูกนำไปใช้กับเครื่องคอมพิวเตอร์ขนาดใหญ่เป็นการลด ค่าใช้จ่ายพร้อมกับเพิ่มประสิทธิภาพในการทำงาน</p>
            <br><i class="material-icons">computer</i>
            <br>อุปกรณ์ : ใช้ระบบ LSI ( Large Scale Integrated ) ซึ่งเป็นวงจรที่ประกอบด้วยทรานซิสเตอร์หลายพันตัวและต่อมา ได้รับการพัฒนาปรับปรุงเป็น VLSI ซึ่งก็คือ Microprocessor หรือ CPU
            <br>หน่วยวัดความเร็ว : วัดเป็นไมโครวินาที ( Microsecond)
            <br>ตัวอย่างภาษาคอมพิวเตอร์ : ภาษาปาสคาล (PASCAL) , ภาษาซี (C)
            <br>ตัวอย่างเครื่องคอมพิวเตอร์ : IBM 370 </h5>
      </div>
     <div class="w3-third w3-right">
        <img src="ca4.png" style="widows:10px;%">
      </div>
    </div>
  </div>

<!-- six Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <h1> ยุคที่ 5 (The Fifth Generation) ตั้งแต่ปี ค.ศ. 1980 - 1989</h1>
      <div class="w3-twothird">
        <h5 class="w2-padding-32"><p>ในยุคที่ 4 และยุคที่ 5 ก็จัดเป็นยุคของคอมพิวเตอร์ในปัจจุบัน  แต่ในยุคที่ 5 นี้มีการใช้คอมพิวเตอร์เพื่อช่วยการจัดการและนำมาใช้สนับสนุนการตัดสินใจของผู้บริหารจึงเกิดสาขา MIS (Management Information System) ขึ้น</p>
        <h5 class="w2-padding-32"><p>ในปี ค.ศ 1980 ญี่ปุ่นได้พยายามที่จะสร้างเครื่องคอมพิวเตอร์ให้สามารถคิดและ ตัดสินใจได้เอง  โดยสร้างเครื่องคอมพิวเตอร์ให้มี “สติปัญญา” เพื่อใช้ในการตัดสินใจแทนมนุษย์จึงเกิดสาขาใหม่ขึ้นเรียกว่า สาขาปัญญาประดิษฐ์ (AI : Artificial Intelligence)  สาขาปัญญาประดิษฐ์เป็นสาขาที่เน้นถึงความพยายามในการนำเอากระบวนการทางความคิดของมนุษย์มาใช้ในการแก้ปัญหาด้วยระบบคอมพิวเตอร์  นอกจากนี้มีการตื่นตัวในการจัดเก็บข้อมูลเป็นระบบฐานข้อมูล (Database) การนำคอมพิวเตอร์มาใช้กับงานทางด้านกราฟิก และมีการพัฒนาซอฟต์แวร์ (Software)  เพื่อใช้กับงานเฉพาะอย่าง เช่น งานการเงิน งานงบประมาณ งานบัญชี งานสต๊อกสินค้า เป็นต้น</p>
    </div>
   <div class="w3-third w3-right">
      <img src="BG.jpg" style="widows:10px;%">
    </div>
  </div>
</div>

<!-- Footer -->
  <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h2 class="w3-margin w3-xlarge">จัดทำเพื่อสื่อการสื่อสอน <br>นายนนธวัช วุฒิเฟย รหัสนักศึกษา 61123810<br>มหาวิทยาลัยราชภัฏเชียงใหม่</h2>
  </div>
</body>
</html>
