<html lang="en">
<title>index</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: 'Kanit', sans-serif;}
.w3-bar,h1,button {font-family: 'Kanit', sans-serif;}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
  
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-brown w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-yellow w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="" class="w3-bar-item w3-button w3-padding-large w3-yellow">หนัาหลัก</a>
    <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-yellow">สื่อวิดีทัศน์</a>
    <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-yellow">เกี่ยวกับเรา</a>
    <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-yellow">เว็บไซต์ภาควิชาคอมพิวเตอร์</a>
    <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-yellow">เข้าสู่หน้าแรก</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-yellow w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="" class="w3-bar-item w3-button w3-padding-large">สื่อวิดีทัศน์</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">เกี่ยวกับเรา</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">เว็บไซต์ภาควิชาคอมพิวเตอร์</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">เข้าสู่หน้าแรก</a>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
    <img class="w3-image" src="/routes/public/BG.jpg" alt="Me" width="1500" height="600">
</header>

<!-- First Grid -->
<div class="w2-row-padding w2-padding-64 w2-container">
  <div class="w3-content">
    <div class="w3-onethird">
      <h1>ประวัติวัดกู่เต้า</h1>
      <h5 class="w3-padding-32">วัดกู่เต้าเดิมชื่อ วัดเวฬุวนาราม ตั้งอยู่ตำบลศรีภูมิ วัดนี้ไม่ปรากฏว่าเริ่มสร้างขึ้นมาตั้งแต่สมัยใดแต่มีตำนานเล่าขานกันมาและเชื่อว่าเจดีย์วัดกู่เต้าสร้างในสมัยที่พม่าครองเมืองเชียงใหม่ซึ่งรวมไปถึงอาณาจักรล้านนาทั้งหมด และเจดีย์ที่เห็นเป็นรูปทรงกลมนี้ก็เป็นที่บรรจุอัฐิของราชวงค์พม่า ชื่อพระเจ้าฟ้าสารวดี ซึ่งเคยยกทัพมาตีกรุงศรีอยุธยาตามบัญชาของพระมหาอุปราชานันทบุเรงพระเชษฐาต่างมารดาและเป็นกษัตริย์พม่าในสมัยนั้น แต่ถูกพระนเรศวรตีแตกพ่าย และยอมสวามิภักดิ์ในเวลาต่อมาทำให้ตัดขาดจากพระเจ้านันทบุเรงและไม่อาจกลับคืนปิตุภูมิได้จนสิ้นพระชนม์ที่เมืองเชียงใหม่ในปี พ.ศ. 2156 พระมหามังชวยเทาซึ่งเป็นพระอนุชาได้จัดถวายเพลิงพระศพ และโปรดให้สร้างสถูปเจดีย์กู่เต้าเพื่อบรรจุอัฐิและพระอังคารธาตุ และโปรดให้สร้างวัดขึ้นมาในบริเวณดงก่อใผ่ จึงได้ชื่อว่าวัดเวฬุวันกู่เต้า ซึ่งชาวบ้านจะเรียกสั้นๆว่า วัดกู่เต้า ปัจจุบันมีชื่อเป็นทางการว่า วัดเวฬุวันวนาราม</h5>
    </div>
    
   <div class="w3-onethird w3-right">
      <img src="c3.png" style="widows: 100px;%">
    </div>
  </div>
</div>

  <!-- Two Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <h1>รายละเอียด</h1>
        <div class="w3-twothird">
          <h5 class="w2-padding-32">
              <br><i class="material-icons">computer</i> วัดกู่เต้ามีบริเวณไม่กว้างขวางมากนัก แต่ร่มรื่นด้วยต้นไม้และดูสงบเงียบ เจดีย์กู่เต้ามีรูปทรงที่คล้ายแตงโมหรือบาตรคว่ำซ้อนทับกันขึ้นไปถึง ๕ ชั้น
              <br><i class="material-icons">computer</i> องค์เจดีย์แต่ละชั้นจะมีซุ้มจระนำประดิษฐาน พระพุทธรูปปางต่างๆทั้ง ๔ ด้าน มีการประดับด้วยกระจกสีเป็นรูปดอกไม้เล็กๆ ดูงดงามและปราณีต
              <br><i class="material-icons">computer</i> ส่วนของยอดเจดีย์นั้นมีฉัตรคล้าย เจดีย์พม่า</h5>
        </div>

       <div class="w3-third w3-right">
          <img src="ca1.png" style="widows:10px;%">
        </div>
      </div>
    </div>
   
    <!-- Three Grid -->
    <div class="w3-row-padding w3-light w2-padding-64 w3-container">
        <div class="w3-content">
          <h1>ข้อมูลเพิ่มเติม</h1>
          <div class="w3-twothird w3-right">
            <h5 class="w2-padding-32"><p>วัดกู่เต้าเดิมชื่อ วัดเวฬุวนาราม ตั้งอยู่ในตำบลศรีภูมิ ติดกับสนามกีฬาเทศบาลนครเชียงใหม่ มีเจดีย์ที่มีลักษณะแปลกไปกว่าเจดีย์อื่นๆ ในเมืองไทย แต่มีตำนานเล่าว่าเจดีย์กู่เต้านี้เป็นที่บรรจุอัฐิของเจ้าฟ้าสารวดี ซึ่งเป็นราชโอรสของพระเจ้าบุเรงนอง ซึ่งมาครองเมืองเชียงใหม่ในระหว่างปี พ.ศ.2122-2150 ลักษณะของเจดีย์องค์นี้คล้ายกับนำผลแตงโมมาวางซ้อนกันไว้หลายๆลูก ชาวบ้านจึงเรียกว่า เจดีย์กู่เต้า</p></h5>
          </div>

         <div class="w3-third w3-right">
            <img src="ca2.png" style="widows: 50%">
          </div>
        </div>
      </div>

      <!-- Four Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <h1>เวลาทำการ </h1>
        <div class="w3-twothird">
            <h3><br><i class="material-icons">computer</i>
            <br><P>วันอาทิตย์:  &nbsp; &nbsp;  08:00 - 18:00</P>
            <br><P>วันจันทร์:   &nbsp; &nbsp; 08:00 - 18:00</P>
            <br><P>วันอังคาร:   &nbsp; &nbsp; 08:00 - 18:00</P>
            <br><P>วันพุธ:   &nbsp; &nbsp;  08:00 - 18:00</P>
            <br><P>วันพฤหัสบดี   &nbsp; &nbsp; 08:00 - 18:00</P>
            <br><P>วันศุกร์:   &nbsp; &nbsp; 08:00 - 18:00</P>
            <br><P>วันเสาร์:   &nbsp; &nbsp; 08:00 - 18:00</P>
            <br><h5>หมายเหตุเวลาทำการ : วันและเวลาทำการอาจมีการเปลี่ยนแปลงได้ตามความเหมาะสม"</h5>
      </div>

        <div class="w3-third w3-right">
        <img src="ca3.png" style="widows:10px;%">
      </div>
    </div>
  </div>

  <!-- five Grid -->
  <div class="w3-row-padding  w2-padding-64 w3-container">
      <div class="w3-content">
        <h1>กลุ่มนักท่องเที่ยว</h1>
        <div class="w3-twothird w3-right">
            <div class="col-md-8 bt-l p-b-0 intro-detail">
                <h3><div>• กลุ่มครอบครัว</div></h3>
                <h3><div>• กลุ่มผู้สูงอายุ</div></h3>
                <h3><div>• กลุ่มวัยทำงาน</div></h3>
                <h3><div>• กลุ่มนักเรียนนักศึกษา / เยาวชน / วัยรุ่น</div></h3>
                <h3><div>• กลุ่มสตรี</div></h3>
                <h3><div>• กลุ่มคู่รัก / คู่แต่งงาน</div></h3>
                <h3><div>• กลุ่มท่องเที่ยวเชิงศาสนา</div></h3>
                <h3><div>• กลุ่มศิลปวัฒนธรรม / ประวัติศาสตร์</div></h3>
                <h3><div>• กลุ่มวิถีชีวิต / ชุมชน / วิถีเกษตร</div></h3>
            </div>
      </div>
     <div class="w3-third w3-right">
        <img src="ca4.png" style="widows:10px;%">
      </div>
    </div>
  </div>

<!-- six Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <h1>การเดินทาง</h1>
        <div class="w3-twothird">
          <div class="col-md-8 bt-l p-b-0 intro-detail">
              <h3><div>• มอเตอร์ไซด์</div></h3>
              <h3><div>• รถโดยสารประจำทาง</div></h3>
              <h3><div>• รถยนต์</div></h3>
        </div>
          </div>

      <div class="w3-third w3-right">
      <img url="" style="widows:10px;%">
      <img src="" class="ndfHFb-c4YZDc-HiaYvf-RJLb9c" alt="แสดง barner.jpg" aria-hidden="true">
    </div>
  </div>
</div>


<!-- Footer -->
  <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h2 class="w3-margin w3-xlarge">จัดทำเพื่อถวายวัด <br>มหาวิทยาลัยราชภัฏเชียงใหม่</h2>
  </div>
</body>
</html>
