<html lang="en">
<title>index</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Kanit', sans-serif;
  }

  .w3-bar,
  h1,
  button {
    font-family: 'Kanit', sans-serif;
  }

  .fa-anchor,
  .fa-coffee {
    font-size: 200px
  }
</style>

<body>
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-brown w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-yellow w3-large w3-red"
        href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="" class="w3-bar-item w3-button w3-padding-large w3-yellow">หนัาหลัก</a>
      <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-yellow">สื่อวิดีทัศน์</a>
      <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-yellow">เกี่ยวกับเรา</a>
      <a href=""
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-yellow">เว็บไซต์ภาควิชาคอมพิวเตอร์</a>
      <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-yellow">เข้าสู่หน้าแรก</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-yellow w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="" class="w3-bar-item w3-button w3-padding-large">สื่อวิดีทัศน์</a>
      <a href="" class="w3-bar-item w3-button w3-padding-large">เกี่ยวกับเรา</a>
      <a href="" class="w3-bar-item w3-button w3-padding-large">เว็บไซต์ภาควิชาคอมพิวเตอร์</a>
      <a href="" class="w3-bar-item w3-button w3-padding-large">เข้าสู่หน้าแรก</a>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-center" style="max-width:1500px">
    <img class="w3-image" src="/images/b.png" alt="Me" width="1500" height="600">
  </header>

  <!-- First Grid -->
  <div class="w2-row-padding w2-padding-64 w2-container">
    <div class="w3-content">
      <div class="w3-onethird">
        <h1>ประวัติวัดโลกโมฬี</h1>
        <h5 class="w3-padding-32">วัดโลกโมฬีสร้างขึ้นเมื่อปีพ.ศ. 2070 โดยพระเกษเกล้าโปรดเกล้าฯ
          ให้ยกบ้านหัวเวียงให้เป็นวัดจากนั้นได้สร้างเจดีย์และวิหาร เมื่อพระเกษเกล้าสวรรคต
          จึงได้นำอัฐิมาบรรจุไว้ภายในเจดีย์ของวัดนี้ ปัจจุบันวัดโลกโมฬี
          เป็นศูนย์กลางการศึกษาศิลปวัฒนธรรมพื้นบ้านโดยมีการจัดกิจกรรมขึนในเทศกาลต่างๆ สิ่งสำคัญภายในวัดประกอบด้วย
          เจดีย์ทรงปราสาทมีประติมากรรมรูปเทวดาที่ประดับตามมุมของเจดีย์
          ส่วนวิหารหลวงเป็นวิหารทีสร้างขึ้นใหม่ภายหลังการบูรณะ
          วัดเป็นศิลปะแบบล้านน้ำมีความประณีตงดงามในครั้งถ่ายทำภาพยนตร์สุริโยทัยได้ใช้วัดแห่งนี้เป็นโลเกชั่นที่ดูยิ่งใหญ่อลังการงานสร้างอีกด้วย
        </h5>
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-section">
    <div class="w3-col s4">
      <img src="/images/p1.jpg" style="width:100%">
    </div>
    <div class="w3-col s4">
      <img src="/images/p2.jpg" style="width:100%">
    </div>
    <div class="w3-col s4">
      <img src="/images/p4.jpg" style="width:100%">
    </div>
  </div>

  <!-- Two Grid -->
  <div class="w2-row-padding w2-padding-64 w2-container">
    <div class="w3-content">
      <div class="w3-onethird">
        <h1>ศาสนสถานที่สำคัญภายในวัด</h1>
        <div class="w3-row-padding w3-section">
          <div class="w3-col s4">
            <img src="/images/wp1.jpg" style="width:100%">
          </div>
          <div class="w3-col s4">
            <img src="/images/wp2.jpg" style="width:100%">
          </div>
          <div class="w3-col s4">
            <img src="/images/wp3.jpg" style="width:100%">
          </div>
        </div>
        <h5 class="w3-padding-32">
          <p class="w3-xlarge">1. เจดีย์วัดโลกโมฬี</p> สันนิษฐานว่าสร้างขึ้น เมื่อปี พ.ศ.๒๐๗๑
          ตำนานระบุว่าสร้างขึ้นในสมัยรัชกาลพระเมืองเกศเกล้า เมื่อ พ.ศ. ๒๐๗๑ เป็นเจดีย์ทรงปราสาท
          ได้มีการพัฒนาการอย่างต่อเนื่องที่เจดีย์วัดโลกโมฬี การพัฒนารูปแบบได้เพิ่มความสูงของเจดีย์คือ ส่วนฐาน
          ได้แก่ชุดฐานปัทม์ ลูกแก้ว อกไก่ เพิ่มเป็น ๒ ชุดอย่างชัดเจนโดยฐานปัทม์ชั้นล่างไม่มียกเก็จ
          ที่ฐานปัทม์ชั้นที่สองมีจำนวนยกเก็จที่เพิ่มมากขึ้น และเป็นมุมที่มีขนาดเล็ก
        </h5>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h2 class="w3-margin w3-xlarge">จัดทำเพื่อถวายวัด <br>มหาวิทยาลัยราชภัฏเชียงใหม่</h2>
  </div>
</body>

</html>